[package]
name = "spawn_derive"
version = "0.1.0"
edition = "2021"

[lib]
proc-macro = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
syn = "1.0.98"
quote = "1.0.20"
proc-macro2 = "1.0.40"
proc-macro-error = "1.0.4"
